// Special cases needed to apply styles to elements in astrium
@import 'variables';
@import 'canvas';

// Set the astrum component background to match the grasshopper canvas
.ndpl-component__sample {
  @extend .main-bg;
  @extend .bg-grid;
  @extend .canvas-bg;
  border-radius: none; // Override astrium
  box-shadow: none; // Override webhopper
  padding: 10px; // override webhopper
}

// Sidebar nav items
.wh-vis-toggle::after {
  background: none;
  margin-top: -12px;
  content: "◻️";
  right: 28px;
  transform: none;
  // Set a background that is like a checked/unchecked
}

.wh-vis-toggle:hover {
  cursor: pointer;
}

.wh-vis-toggle.active::after {
  content: "☑️"
  // Set a background that is like a checked/unchecked
}

.ndpl-nav__items {
  margin-bottom: 50px; // Reduce the spacing somewhat
}