// Special cases needed to apply styles to elements in astrium
@import 'variables';
@import 'canvas';

// Set the astrum component background to match the grasshopper canvas
.ndpl-component__sample {
  @extend .main-bg;
  @extend .bg-grid;
  @extend .canvas-bg;
  border-radius: none; // Override astrium
  box-shadow: none; // Override webhopper
  padding: 10px; // override webhopper
}
