// BACKGROUND

$bg-grid-width: 150px; // At 1 zoom
$bg-grid-height: 50px;


// -----------------------------------------------------------------------------
// COMPONENT TYPE
// -----------------------------------------------------------------------------

$base-font-size: 11px;

// Used for general UI elements. Segoe for Windows, MS Sans Serif for OS X
$standard-font: normal normal $base-font-size "Segoe UI", "Microsoft Sans Serif";

// Used in scribbles
$script-font: normal normal $base-font-size "Microsoft Sans Serif";

// Used in panel text
$console-font: normal normal $base-font-size "Courier New"; // Common to MAC+PC

// Seemingly only used for panel headings
$header-font: italic bold $base-font-size "Times New Roman";

// -----------------------------------------------------------------------------
// COMPONENT LAYOUT
// -----------------------------------------------------------------------------

// $identifier-padding-vertical: 3px; // Doesnt work properly with rotate atm
// $identifier-padding-horizontal: 10px;

$identifier-icon-padding: 0 0; // Override for icons; no vertical padding etc

$identifier-width: 22px; // The black blob

// Minimim width of a component; basically what it defaults to
$component-min-width: 50px;

// -----------------------------------------------------------------------------
// Parameters
// -----------------------------------------------------------------------------

// The amount of padding around a text parameter and a a title of a input/output
// less component. Determinitative of final heights

// Full names
$parameter-short-vertical-padding: 4.5px;
$parameter-short-inner-padding: 5px;
$parameter-short-outer-padding: 8px;

$parameter-long-vertical-padding: 8px;
$parameter-long-inner-padding: 8px;
$parameter-long-outer-padding: 5px;

// How much space is between the paramter string and the component's border
$param-side-padding: 8px;

// Size of the node nub
$param-nub-diameter: 6px;
$param-nub-radius: $param-nub-diameter / 2;
$param-nub-border: 2px;