
// Number Slider
.component--type-slider {

}

.slider {
  @extend .flex-vertical-center;
}
.slider__diamond {
  width: 4px;
  height: 4px;
  background: #fff;
  border: 2px solid #000;
  margin-left: 3px;
  transform: rotate(45deg);
}

// Panel
.component--type-panel .component__inner {
  background: #fffa5b;
}

// Inner structure of a panel with header/footer
.content {
  @extend .flex-1;
}
.content__heading {
  padding: 5px;
  text-align: center;
  background: #cdc55f;
  border-bottom: 1px solid #000;
  font: $header-font;
}
.content__text {
  text-align: center;
  padding: 60px 10px;
  font: $console-font;
}

