
.component {
  @extend .flex-vertical-center;
  font: $standard-font;
  max-width: 200px; // TEMP
  margin: 20px; // TEMP
}

.component__inner {
  @extend .flex-1;
  @extend .flex-horizontal;
  background: linear-gradient( 0deg, #cbcbcb, #dfdedf);
  box-shadow: inset 0px 12px RGBa(255,255,255,0.2);
  border: 1px solid #2f2f2f;
  border-radius: 4px;
  z-index: 100;
}

.identifier {
  @extend .flex-vertical-center;
  @extend .flex-1;
  background: #343434;
  border-radius: 5px;
  color: #fff;
  margin: 2px;
}

// For components without a black block identifier (ie basic parmams or when draw icons is on)
.identifier--stub, .identifier--draw-icon {
  background: none; // Override parent
  border-radius: 0; // Override parent
  color: #000; // Override parent
  margin: 0; // Override parent
  min-width: $component-min-width;
  padding: $component-text-padding;
  text-align: center;
  .name {
    margin: 0 auto;
  }
}
.identifier--stub.identifier--draw-icon {
  padding: 0; // No padding when using an icon view
}

// The element that contains the name
.identifier__label {
  font-size: 12px;
  margin: 0 auto;
  padding: 10px 5px;
  transform: rotate(-90deg);
  transform-origin: center center 0;
}
.identifier--draw-icon .identifier__label {
  transform: none; // Don't rotate the icon when that is displaying
}

// Container for the different visual display methods
.name {
  // By default we use name--draw-short
  .name__icon {
    display: none;
  }
}

// Toggle States
.name--draw-short {
  .name__short {
    display: block;
  }
  .name__full {
    display: none;
  }
}
// Toggle States
.name--draw-full {
  .name__short {
    display: none;
  }
  .name__full {
    display: block;
  }
}

.name--draw-icon {
  .name__short, .name__full {
    display: none;
  }
  .name__icon {
    display: block;
  }
}