
.component {
  @extend .flex-vertical-center;
  display: inline-block;
  font: $standard-font;
  max-width: 200px; // TEMP
  min-width: 40px;
  margin: 20px; // TEMP
  padding-left: $param-nub-radius; // Space for node nibs
  padding-right: $param-nub-radius; // Space for node nibs
}

.component__inner {
  @extend .flex-1;
  @extend .flex-horizontal;
  background: linear-gradient( 0deg, #cbcbcb, #dfdedf);
  box-shadow: inset 0px 12px RGBa(255,255,255,0.2);
  border: 1px solid #2f2f2f;
  border-radius: 4px;
  z-index: 100;
}

.identifier {
  @extend .flex-vertical-center;
  @extend .flex-1;
  margin: 2px 0;
}

// For components without a black block identifier (ie basic parmams or when draw icons is on)
.identifier__stub, .identifier--draw-icon {
  background: none; // Override parent
  border-radius: 0; // Override parent
  color: #000; // Override parent
  margin: 0; // Override parent
  min-width: $component-min-width;
  padding: $parameter-padding-vertical $parameter-padding-horizontal;
  text-align: center;
  .name {
    margin: 0 auto;
  }
}
.identifier--stub.identifier--draw-icon {
  padding: 0; // No padding when using an icon view
}

// The element that contains the name
.identifier__label {
  background: #343434;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  margin: 0 auto;
  padding: $identifier-padding-vertical $identifier-padding-horizontal;
  transform: rotate(-90deg);
  transform-origin: center center 0;
}
.identifier--draw-icon .identifier__label {
  transform: none; // Don't rotate the icon when that is displaying
}

// Container for the different visual display methods
.name {
  margin: 0 auto;
  // By default we use name--draw-short
  .name__icon {
    display: none;
  }
}

// Default View
.name__icon, .name__full  {
  display: none;
}

// Toggle States
.component--draw-full-names {
  .name__short {
    display: none;
  }
  .name__full {
    display: block;
  }
}

.component--draw-icons {
  .identifier .name__short, .identifier  .name__full {
    display: none;
  }
  .identifier .name__icon {
    display: block;
  }
}