
// The middle black blob that contains the title
.identifier {
  @extend .flex-vertical-center;
  @extend .flex-1;
  margin: 1px 0;
  background: linear-gradient(0deg, #343434, #4c4c4c);
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  width: $identifier-width;
}

// For components without a black block identifier (ie basic parmams)
.identifier--stub {
  background: none; // Override parent
  border-radius: 0; // Override parent
  color: #000; // Override parent
  margin: 0 auto; // Override parent
  width: auto; // Override parent

  // Standalone components dont have rotated text
  .label--short, .label--full {
    transform: none;
  }
}

// The element that contains the name
.identifier__label {
  font-size: 12px;
  margin: 0 auto;
  position: absolute;
  // padding: $identifier-padding-vertical $identifier-padding-horizontal;
  transform: rotate(-90deg);
  transform-origin: center center 0;
  white-space: nowrap; // Label is always a single line
  width: 300px;
  margin-left: -150px + ($identifier-width / 2);
  text-align: center;
}

// Default View
.label--icon, .label--full  {
  display: none;
}

// Icon Overrides
.label--icon {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  transform: none;
}

// Toggle States
.component--draw-full-names {
  .label--short {
    display: none;
  }
  .label--full {
    display: block;
  }
}

.component--draw-icons {
  .identifier {
    @extend .identifier--stub; // Act like a standalone when icons are on 0;
    border: none;
    padding: $identifier-icon-padding;
    margin-left: 0;
    margin-right: 0;
  }
  .identifier .label--short, .identifier  .label--full {
    display: none;
  }
  .identifier .label--icon {
    display: block;
  }
}