
// All input/ouput groups
.nodes {
  @extend .flex-vertical;
  .name {
    margin-bottom: 0;
  }
}

.nodes--flow-in {
  .name {
    text-align: right;
    padding-left: $param-side-padding * 1;
  }
  .nodes__node::before {
    content: "";
    @extend .nub;
    margin-left: $param-side-padding * -1;
    border-top-left-radius: $param-nub-radius;
    border-bottom-left-radius: $param-nub-radius;
    border-left: $param-nub-border solid #2f2f2f;
  }
}

.nodes--flow-out {
  .name {
    text-align: left;
    padding-right: $param-side-padding * 1;
  }
  .nodes__node::after {
    content: "";
    @extend .nub;
    margin-right: $param-side-padding * -1;
    border-top-right-radius: $param-nub-radius;
    border-bottom-right-radius: $param-nub-radius;
    border-right: $param-nub-border solid #2f2f2f;
  }
}

.nodes__node {
  @extend .flex-1;
  @extend .flex-vertical-center;
  padding: $component-text-padding;
}

// The half circle signifying an input or output
.nub {
  height: $param-nub-radius;
  width: $param-nub-radius/2;
  background: #fff;
  border-top: $param-nub-border solid #2f2f2f;
  border-bottom: $param-nub-border solid #2f2f2f;
  z-index: 90;
}